<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form action="/users" method="post">
        <div><input name="firstName" placeholder="First name"></div>
        <div><input name="lastName" placeholder="Last name"></div>
        <div><input name="email" placeholder="Email"></div>
        <div><input name="password" placeholder="Password" type="password"></div>
        <div><input name="repeatPassword" placeholder="Repeat password" type="password"></div>
        <div><input type="submit"></div>
    </form>
</body>
</html>